{
    ViewData["Title"] = "404 - Page Not Found";
}


<div class="container-fluid" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="container">
Hey YOU! This page doesn't exist! 
<a href="~/Home/Index/">Go HOME!</a>}