{
    ViewData["Title"] = "404 - Page Not Found";
}


<div class="container-fluid" style="margin-top: 200px; margin-bottom: 200px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
Hey YOU! This page doesn't exist! 

<a href="~/Home/Index/">Go HOME!</a>}