@model webapp.Models.DeletePersonalDataModel
@{
    ViewData["Title"] = "Nicholas R Johnson - Admin";
}

<div class="container-fluid" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="container">
                <h4>@ViewData["Title"]</h4>

                <div class="alert alert-warning" role="alert">
                    <p>
                        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
                    </p>
                </div>
                <div>
                <form id="deletePersonalDataForm" method="post" asp-action="DeletePersonalData" asp-controller="Admin" >
                    <div asp-validation-summary="All" class="text-danger"></div>
                        @if (Model.RequirePassword)
                        {
                          <div class="form-group">
                               <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                         </div>
                        }
                        <button class="btn btn-primary m-2 p-2" type="submit">Delete data and close my account</button>
                </form>
    </div>
</div>
