@{
    ViewData["Title"] = "Nicholas R Johnson - Admin";
}

<div class="container-fluid" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="container">
                <h4>@ViewData["Title"]</h4>

    </div>
</div>