@{
    ViewData["title"] = "Members";
}
<div class="container-fluid" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="container">
        This is totally under construction. But, you definitely have entered the Members area.
    </div>
</div>