@using System.Text.Json;

<div id="Logout">
  <div class="d-flex flex-column">
    <div>
      <p>
        <a id="innerIdSide" href="/InnerSanctum/InnerSanctumIndex">Members</a>
      </p>
    </div>
    <div>
      <p>
        <button id="logoutButton" class="nav-link btn btn-link text-dark">Click here to Logout</button>
      </p>
    </div>
  </div>
</div>

<div class="container" id="Login">
  <div class="d-flex flex-column">
    <div>
      <h4>Log In</h4>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" id="email"/>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password"/>
    </div>
    <div>
      <input id="rememberMe" type="checkbox">
      <label for="rememberMe">
        Remember Me
      </label>
    </div>
    <div>
      <p>
        <button id="loginButton">Log in</button>
      </p>
    </div>
    <div>
      <p>
        @Html.ActionLink("Forgot your password", "ForgotPassword", "Account")
      </p>
    </div>
    <div>
      <p>
        @Html.ActionLink("Register as a new user", "Register", "Account", new { model = new RegisterModel() }, null)
      </p>
    </div>
  </div>
</div>
    <script>
    $(document).ready( function() {
        var userAuthorized = @User.Identity.IsAuthenticated.ToString().ToLower();
   
        if(userAuthorized) {
            $("#Login").hide();
            $("#Logout").show()
        } else {
            $("#Login").show();
            $("#Logout").hide(); 
        }

        $("#logoutButton").click( function() {
            $.ajax({
                url: "/Account/Logout"
            }).done(function(result) {
                $("#Login").show();
                $("#Logout").hide();
            }).fail( function() {
                alert("logout failed");
            });
       });
   
        $("#loginButton").click( function() {
            var emailText = $("#email").val();
            var passwordText = $("#password").val();
            var rememberMeVal = Boolean($("#rememberMe"));
            $.ajax({
                type: "POST",
                url: "/Account/Login",
                data: {
                    email: emailText,
                    password: passwordText,
                    rememberMe: rememberMeVal
                }
            }).done(function(result) {
                var returnUrl = result.url;
                var succeeded = result.succeeded;
                if( succeeded == 'true' ) {
                    $("#Login").hide();
                    $("#Logout").show();
                } else if( returnUrl == "InvalidLogin") {
                    alert("Bad Login!");
                } else {
                    window.location.href = returnUrl;
                }
            }).fail( function() {
                alert("login failed");
            });
        });
    });

</script>