@model webapp.Models.ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="container-fluid" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="container">
                <h1>@ViewData["Title"]</h1>
                <p>@ViewBag.Message</p>
                Email Change is Confirmed
    <div>
</div>
