@model webapp.Models.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="container-fluid" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="container">
                <h1>@ViewData["Title"]</h1>

                <p>
                    Thank you for confirming your email.
    <div>
</div>
