@model webapp.Models.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="container-fluid" style="margin-top: 200px; margin-bottom: 200px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>@ViewData["Title"]</h1>

                <p>
                    Thank you for confirming your email.
            </div>
        </div>
    <div>
</div>
