@{
    ViewData["Title"] = "External Login Failure";
}

<div class="container-fluid" style="margin-top: 200px; margin-bottom: 200px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">The external login has failed.</p>
</header>
            </div>
        </div>
    <div>
</div>
