@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container-fluid" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="container">
                <h1>@ViewData["Title"]</h1>
                <p>
                    Please check your email to reset your password.
                </p>
    <div>
</div>

