@model webapp.Models.RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container-fluid" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="container">
        <h4>@ViewData["Title"]</h4>
        <p>You are registered. Now, confirm your email with the link sent to you.</p>
    <div>
</div>
