@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container-fluid" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="container">
                <h1>@ViewData["Title"]</h1>
                <p>
                    Your password has been reset. Please log in.
                </p>
    </div>
</div>