@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
</script>
<div class="container-fluid" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="container">
                <h1>@ViewData["Title"]</h1>
                <h4>Enter your email.</h4>
                <hr />
                    
                    @using (Html.BeginForm("ResendEmailConfirmation", "Account", FormMethod.Post, new { id = "form", style="padding: 20px" }))
                    {
                           @Html.HiddenFor(m => m.ValidSubmit, new { id = "validField" })
                           <div asp-validation-summary="All" class="text-danger"></div>
                           <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" id="email"/>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                           </div>
                           <button type="submit" onclick="validSubmit()" class="btn btn-primary">Resend</button>
                           <div class="m-1" id="captcha"></div>
                     }
    </div>
</div>

@section Scripts {
  <script>
  var onloadCallback = function () {
    grecaptcha.render('captcha', {
      'sitekey': '6Lf7iSYiAAAAAHqdtprpV-ZWMrUZLKB6d00teb4e'
    });
  };

  function validSubmit() {
    var response = grecaptcha.getResponse();
    var valid = false;
    $("#validField").val(false);
    if (response.length && 
        $("#email").val() != '' &&
        $("#email").val() != null &&
        $('#email').val().length < 50 &&
        RegExp(/[A-Za-z0-9._%+-]+@@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}/).test($('#email').val())) 
        {
          valid = true;
          grecaptcha.reset();
        }
    }
    if (valid) {
      $("#validField").val(true);
    }
  </script>
}
