@{
    ViewData["Title"] = "Successful Logout";
}

<div class="container-fluid" style="margin-top: 200px; margin-bottom: 200px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>@ViewData["Title"]</h1>
                <h4>You have successfully logged out.</h4>

                @Html.ActionLink("Home", "Index")

                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
            </div>
        </div>
    </div>
</div>
