@{
    ViewData["Title"] = "Successful Logout";
}

<div class="container-fluid" style="margin-top: 100px; margin-bottom: 100px;">
    <div class="container">
                <h1>@ViewData["Title"]</h1>
                <h4>You have successfully logged out.</h4>

                @Html.ActionLink("Home", "Index")

                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }
    </div>
</div>
