body {
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
  background-color: #ffffff;
  padding-bottom: 80px;
}

.jumbotron {
  font-family: merriweather; 
  background-color: #1f04a5;
  color: #54504d;
  margin-top: 20px; 
  padding: 20px;
}

html, .fullheight {
  min-height: 100% !important;
  height: 100%;
}
.zone {
  text-align: center;
  border:1px solid #bbb;
  transition: all 0.3s linear;
}

.zone {
  box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.navbar {
  width: 100%;
  margin-bottom: 0;
  border-radius: 0;
}

.navitem {
  color:#b27c17; 
}

.row.content {height: 450px}

.sidenav {
  font-family: futura;
  padding-top: 20px;
  font-size: 20px;
  background-color: #4f3318;
  color: #ffffff;
  height: 100%;
}

.navbar-custom {
  font-family: futura;
  background-color: #4f3318;
  color: #ffffff;
  font-size: 30px;
  padding-left: 55px;
  padding-right: 55px;
}

.linktext {
  color: #b27c17; 
}

.blurbdiv {
  background-color: #1f04a5;
  margin: 10px;
  padding: 15px;
}

.blurbtitle {
  color: #0f0e09;
}

.blurb {
  color: #545041; 
  font-family: merriweather;
}

footer {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #4f3318;
  color: #ffffff;
  padding: 15px;
}

img {
  width: 100%;
  height: auto;
  margin: 20px;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
   }
  .row.content { height:auto; }
}
