body {
  min-height: 400px;
  font-family: Arial, sans-serif;
  margin-bottom: 100px;
  clear: both;
  background-color: #ffffff;
  padding-bottom: 80px;
}

.exhibit {
  font-family: merriweather; 
  background-color: #1f04a5;
  color: #fcdb46;
  margin-top: 20px; 
  padding: 25px;
}

.exhibit-title
{
    font-family: Arial, sans-serif;
}

.zone {
  text-align: center;
  border:1px solid #bbb;
  box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  transition: all 0.3s linear;
}

.sidenav {
  font-family: futura;
  font-size: 20px;
  background-color: #4f3318;
  color: #b27c17;
}

.navbar-custom {
  font-family: futura;
  background-color: #4f3318;
  color: #b27c1f;
  font-size: 30px;
  padding-left: 55px;
  padding-right: 55px;
  margin-bottom: 0;
  border-radius: 0;
}

.nav-link { 
  color: #b27c1f;
}

.nav-link:hover {
  color: #efad32;
}
.custom-toggler.navbar-toggler {
  border-color: #efad32;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(179, 134, 4, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.active
{
  color: #efad32 !important;
}

a {
  color: #b27c1f;
}

a:link {
  color: #b27c1f;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #efad32;
  text-decoration: none;
}


a:active {
  text-decoration: none;
}

.linktext {
  color: #b27c17; 
}

.blurbdiv {
  background-color: #1f04a5;
  padding: 15px;
  margin-top: 10px;
}

.blurbtitle {
  color: #fcdb46;
  font-family: Arial, sans-serif;
}

.blurb {
  color: #fcdb46; 
  font-family: merriweather;
}

.blurb-button {
  color: #efad32;
  font-family: Arial, sans-serif;
}

footer {
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #4f3318;
  color: #b27c1f;
  padding: 15px;
}

.textboxstyle {
  height: 20px;
  width: 125px;
}

img {
  width: 100%;
  height: auto;
  margin: 20px;
  padding: 15px;
}

.btn-primary {
  background: #4f3318 !important;
	border: 2px solid #4f3314 !important;
	border-radius: 40px !important;
	padding: 7px 10px 10px 10px !important;
}

.btn-primary:hover {
	background-color: #9E6534 !important;
	border-color: #efad32 !important;
	font-weight: 700;
	padding: 7px 10px 10px 10px !important;
}

.btn-secondary {
  background: #9E6534 !important;
	border: 2px solid #efad32 !important;
	border-radius: 40px !important;
	padding: 7px 10px 10px 10px !important;
}

.btn-secondary:hover {
	background-color: #efad32 !important;
	border-color:#9E6534 !important;
	font-weight: 700;
	padding: 7px 10px 10px 10px !important;
}
.slide {
  transform: translateY(200px);
  animation: slide 1.75s ease forwards;
}

@keyframes slide {
  to { transform: translateY(0); }
}
input { 
  font-size: 12px; 
}